@mixin card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 20px 10px 20px;
    padding: 20px 0px 20px 0px;
    border-radius: 5px;
}